body {
  margin: 0 auto;
  background-position: center;
  background-size: contain;
  background-color: white;
}
h1 {
  text-align: center;
  color: white;
}
.left {
  text-align: left;
  color: white;
  font-size: 100px;
}
.right {
  text-align: right;
  color: white;
  font-size: 100px;
}
h4 {
  color: white;
  text-align: center;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
h6 {
  text-align: left;
  margin-left: 40px;
  color: white;
  font-size: 30px;
}
.title {
  color: white;
  text-align: center;
}
p {
  color: white;
  margin-left: 80px;
  font-size: 30px;
  margin-right: 80px;
}
gift {
  color: white;
  margin-left: 80px;
  font-size: 30px;
}

.tab {
  display: inline-block;
  margin-left: 40px;
}
a {
  letter-spacing: 2px;
  transition: 0.5s;
  color: white;
}
a:hover {
  letter-spacing: 5px;
}

.menu {
  position: relative;
  top: 0;
  background-color: black;
  padding: 10px 0px 0px 10px;
  color: white;
  margin: 0 auto;
  overflow: hidden;
}
.menu a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.menu-log {
  right: auto;
  float: right;
}
.images {
  position: relative;
  top: 0;
  margin: 0 auto;
  padding: 0px 0px 0px 0px;
  overflow: hidden;
  background-color: gray;
}
img {
  width: 33%;
  height: 33%;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  color: white;
  font-size: 50px;
}
iframe {
  display: block;
  margin: 0 auto;
  align-items: center;
}
.vohung {
  text-align: center;
  font-size: 50px;
  background-color: rgb(62, 170, 94);
  padding: 10px 10px 10px 10px;
}
.fb-comments {
  position: absolute !important;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 550px;
}
footer {
  background-color: black;
  color: white;
  position: auto !important;
  padding: 50px;
  text-align: center;
}
